<div class="content-wrap">
  <div class="banner"
  data-stories-image=" <%= asset_path 'castle_tunnel.jpg' %>"
  data-characters-image=" <%= asset_path 'lantern.jpg' %>">
  </div>
  <div class="tabs">
    <!-- Tab buttons at the top -->
    <div class="tab-buttons d-flex w-100">
      <label for="tab2-1" class="tab-label">Stories</label>
      <label for="tab2-2" class="tab-label">Characters</label>
    </div>
    <!-- Hidden radio buttons for tab control -->
    <input id="tab2-1" name="tabs-two" type="radio" checked hidden>
    <input id="tab2-2" name="tabs-two" type="radio" hidden>
    <!-- Tab 1 content -->
    <div class="tab-content" id="content-tab1">
      <div class="container d-flex flex-column align-items-center my-5">
        <h4 class="text-center w-100">Pick up where you left off...</h4>
        <div class="main-story container my-4 d-flex justify-content-center">
          <%= link_to story_path(@front_story), class: "text-decoration-none" do %>
            <div class="card-product row align-items-center" style="max-width: 900px; width: 100%;">
              <div class="col-6">
                <%= image_tag "fantasy_book.avif", class: "img-fluid rounded card-product-img" %>
              </div>
              <div class="col-6 card-product-infos">
                <h2><%= @front_story.name %></h2>
                <p><%= @front_story.summary || "No story content yet." %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <h4 class="text-center w-100">Your Past Stories</h4>
        </div>
        <div class="container-fluid my-4">
          <div class="row align-items-center justify-content-start">
            <div class="cards col-12 d-flex flex-wrap justify-content-center p-0">
              <% @feature_stories.each do |story| %>
                <%= link_to story_path(story), class: "text-decoration-none" do %>
                  <div class="card-category col-12 col-sm-6 col-md-4 text-center"
                 style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'fantasy_book.avif' %>)">
                    <%= story.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tab 2 content -->
    <div class="tab-content" id="content-tab2">
      <div class="container d-flex flex-column align-items-center my-5">
        <h4>Characters</h4>
        <p>Character List..</p>
      </div>
    </div>
  </div>
  <div>
    <%= render "layouts/final_bottom_navbar" %>
  </div>
