<div class="content-wrap flex-grow-1"
     data-controller="banner"
     data-banner-stories-image-value="<%= asset_path 'cloudy_sky2.avif' %>"
     data-banner-characters-image-value="<%= asset_path 'lantern.jpg' %>">
  <div class="banner position-relative" data-banner-target="banner">
    <div class="d-flex justify-content-center align-items-center position-absolut banner-content">
      <%= image_tag "Item_Tuskpir.webp", alt: "Tuskipir character image", class: "tuskpir-image w-25" %>
      <h1 class="text-white text-center ms-3">
        Dream Hero
      </h2>
    </div>
  </div>
  <div class="tabs">
    <!-- Radio Inputs -->
    <input type="radio"
           id="tab2-1"
           name="switch-tab"
           data-banner-target="tabStories"
           data-action="change->banner#switch"
    checked>
    <input type="radio"
           id="tab2-2"
           name="switch-tab"
           data-banner-target="tabCharacters"
           data-action="change->banner#switch">
    <!-- Labels -->
    <div class="tab-buttons d-flex w-100">
      <label for="tab2-1" class="tab-label">Stories</label>
      <label for="tab2-2" class="tab-label">Characters</label>
    </div>
  </div>
</div>
<!-- Tab 1 content -->
<div class="tab-content" id="content-tab1">
  <div class="container d-flex flex-column align-items-center my-5">
    <h4 class="text-center w-100">Pick up where you left off...</h4>
    <div class="main-story container my-4 d-flex justify-content-center">
      <%= link_to story_path(@front_story), class: "text-dark" do %>
        <div class="card-product row align-items-center" style="max-width: 900px; width: 100%;">
          <div class="col-6">
            <%= image_tag url_for(@front_story.image), class: "img-fluid" %>
          </div>
          <div class="col-6 card-product-infos">
            <h2><%= @front_story.name %></h2>
            <p><%= @front_story.summary || "No story content yet." %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <h4 class="text-center w-100">Your Past Stories</h4>
    </div>
    <div class="container-fluid my-4">
      <div class="row align-items-center justify-content-start">
        <div class="cards col-12 d-flex flex-wrap justify-content-center p-0">
          <% @feature_stories.each do |story| %>
            <%= link_to story_path(story), class: "text-decoration-none" do %>
              <div class="card text-center text-white mx-2 mb-4 rounded-5 shadow-lg" style="width: 18rem;">
                <% if story.image.attached? %>
                  <%= image_tag url_for(story.image), class: "card-img story-img rounded-5 shadow", alt: story.name %>
                <% else %>
                  <%= image_tag "fantasy_book.avif", class: "card-img story-img rounded-5 shadow", alt: "Placeholder" %>
                <% end %>
                <div class="card-img-overlay d-flex flex-column justify-content-center rounded-5" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));">
                  <div class="card-title">
                    <h5><%= story.name %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tab 2 content -->
<div class="tab-content" id="content-tab2">
  <div class="container d-flex flex-column align-items-center my-5">
    <div class="container-fluid my-4">
      <div class="row align-items-center justify-content-start">
        <div class="cards col-12 d-flex flex-wrap justify-content-center p-0">
          <% @characters.each do |character| %>
            <%= link_to character_path(character), class: "text-decoration-none" do %>
              <div class="card text-center text-white mx-2 mb-4 rounded-5 shadow-lg" style="width: 18rem;">
                <% story = character.stories.first %>
                <% if story && story.image.attached? %>
                  <%= image_tag story.image, class: "img-fluid d-block mx-auto rounded-5 shadow-lg" %>
                <% else %>
                  <%= image_tag "character_splash.jpg", class: "card-img story-img rounded-5 shadow", alt: "Placeholder" %>
                <% end %>
                <div class="card-img-overlay d-flex flex-column justify-content-center rounded-5" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));">
                  <div class="card-title">
                    <h5><%= character.name %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <%= render "layouts/final_bottom_navbar" %>
</div>
