<div class="content-wrap">
  <div class="banner"
  data-stories-image=" <%= asset_path 'castle_tunnel.jpg' %>"
  data-characters-image=" <%= asset_path 'lantern.jpg' %>">
  </div>

  <div class="tabs">
    <div class="tab-2">
      <label for="tab2-1">Stories</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">

      <!-- Full width container that centers everything -->
      <div class="container-fluid d-flex flex-column align-items-center my-3">

        <h4 class="text-center w-100">Pick up where you left off...</h4>

        <!-- Center the main story block -->
<div class="main-story container my-4 d-flex justify-content-center">
  <%= link_to story_path(@front_story), class: "text-decoration-none" do %>
    <div class="card-product row align-items-center" style="max-width: 900px; width: 100%;">

      <!-- Image column -->
      <div class="col-6">
        <%= image_tag "fantasy_book.avif", class: "img-fluid rounded card-product-img" %>
      </div>

      <!-- Text column -->
      <div class="col-6 card-product-infos">
        <h2><%= @front_story.name %></h2>
        <p><%= @front_story.chats %></p>
      </div>

    </div>
  <% end %>
</div>


        <!-- Feature story cards -->
        <div class="container-fluid my-4">
          <div class="row align-items-center justify-content-start">
            <div class="cards col-12 d-flex flex-wrap justify-content-center p-0">
              <% @feature_stories.each do |story| %>
              <%= link_to story_path(story), class: "text-decoration-none" do %>
                <div class="card-category col-12 col-sm-6 col-md-4 text-center"
                     style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'fantasy_book.avif' %>)">
                  <%= story.name %>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-2">
      <label for="tab2-2">Characters</label>
      <input id="tab2-2" name="tabs-two" type="radio">
      <div>
        <h4>Tab Two</h4>
        <p>Characters go here</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer bg-dark text-white py-3 mt-auto">
  <div class="container text-center">
    <%= link_to stories_path do %>
      <i class="fa-solid fa-house me-2"></i>
    <% end %>
    | &copy; <%= Time.current.year %> Kokai Soundworks
  </div>
</footer>
