<%# find style in _stories.scss %>
<div class="banner-new-story">
  <h1 class="text-center">A New Tale Begins...</h1>
  <div class="container d-flex justify-content-center">
    <div class="tabs" data-controller="stories">
      <%= simple_form_for @story, html: { data: { controller: "spin" }} do |f| %>
        <div class="story-form-card">
          <div class="row g-4 mb-4 justify-content-center">
            <%# CARD 1: AGE %>
            <div class="col-lg-4 col-md-6 col-10">
              <%# <label for="tab3-1">Age</label> %>
              <%# <input id="tab3-1" name="tabs-three" type="radio" checked="checked"%>
              <%= f.input :age, label: "How old are you?" %>
            </div>
            <%# CARD 2: THEME %>
            <div class="col-lg-4 col-md-6 col-10">
              <%# <label for="tab3-2">Theme</label> <%# input id="tab3-2" name="tabs-three" type="radio"> %>
              <%= f.input :theme, label: "What is your story's theme?" %>
            </div>
            <%# CARD 3: CHARACTER %>
            <div class="col-lg-4 col-md-6 col-10">
              <%# <div class="tab-3">
            <%#label for="tab3-3">Character</label>
            <%#input id="tab3-3" name="tabs-three" type="radio"> %>
              <%= f.input :character, collection: current_user.characters, include_blank: false, label: "Do you have a character?" %>
            </div>
          </div>
          <%# = link_to "Or create a new character", new_character_path, class: 'btn btn-primary' %>
          <div class="button-row d-grid justify-content-center gap-4 mt-4">
            <div data-spin-target="buttonContainer" class="order-2">
              <%= f.submit "Step into your story", class: 'btn btn-primary rounded-pill' %>
            </div>
          <% end %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-warning order-1 rounded-pill" data-bs-toggle="modal" data-bs-target="#characterModal">Create a new character</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
      class="modal fade"
      id="characterModal"
      tabindex="-1"
      aria-labelledby="characterModalLabel"
      aria-hidden="true"
    >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-dark" id="characterModalLabel">
          Tell us about your character
        </h1>
        <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
      </div>
      <div class="modal-body">
        <div id="new_character">
          <%= simple_form_for @character do |f| %>
            <%= f.input :name, label: "Name", required: true, placeholder: "" %>
            <%= f.input :occupation, label: "Occupation", required: true, placeholder: "" %>
            <%= f.input :likes, label: "Likes", required: true, placeholder: "" %>
            <div class="modal-footer">
              <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                Cancel
              </button>
              <%# submit button %>
              <%# = f.submit "Create", class: "btn btn-primary" %>
              <%= f.button :submit, 'Create Character', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/final_bottom_navbar" %>
