<div class="container mt-3">
  <h1>New story</h1>
  <%= simple_form_for @story do |f| %>
    <%= f.input :age %>
    <%= f.input :theme %>
    <%= f.input :character, collection: current_user.characters, include_blank: false %>
    <%= f.submit "Start your adventure!", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Create a character", new_character_path  %>
</div>
