<div class="content-wrap">
  <div class="banner-show"
  data-stories-image=" <%= asset_path 'castle_tunnel.jpg' %>"
  data-characters-image=" <%= asset_path 'lantern.jpg' %>">
  </div>

  <div class="main-story container my-4 d-flex justify-content-center">
          <div class="card-product row align-items-center" style="max-width:900px;">
            <div class="col-md-6">
              <%= image_tag "fantasy_book.avif", class: "img-fluid rounded card-product-img" %>
            </div>
            <div class="card-product-infos col-md-6">
              <h2><%= @story.name %></h2>
              <p><%= @message %></p>
            </div>
          </div>
  </div>
  <div class="button-container d-flex justify-content-evenly">
      <%= link_to "Re-read this story", chat_path(@story), class: "btn btn-success rounded-pill me-2" %>
      <%= link_to "Continue this story...", chat_path(@story), class: "btn btn-success rounded-pill me-2" %>
  </div>
</div>

<footer class="footer bg-dark text-white py-3">
  <div class="container text-center">
    <%= link_to stories_path do %>
      <i class="fa-solid fa-house me-2"></i>
    <% end %>
    | &copy; <%= Time.current.year %> Kokai Soundworks
  </div>
</footer>
