<div class="content-wrap">
  <div class="banner-show"
  data-stories-image=" <%= asset_path 'castle_tunnel.jpg' %>"
  data-characters-image=" <%= asset_path 'lantern.jpg' %>">
    <h1 class="text-center text-white">Past Story</h1>
  </div>
  <div class="main-story container my-4 d-flex justify-content-center">
    <div class="card-product row align-items-center" style="max-width:900px;">
      <div class="col-6">
        <% if @story.image.attached? %>
          <%= image_tag url_for(@story.image), class: "img-fluid" %>
        <% else%>
          <%= image_tag "fantasy_book.avif", class: "img-fluid" %>
        <% end %>
      </div>
      <div class="card-product-infos col-md-6">
        <!-- <p><%= @story.summary || "No story content yet." %></p> -->
        <h2><%= @story.name %></h2>
        <p><%= @story.summary || "No story content yet." %></p>
      </div>
    </div>
  </div>
  <div class="button-container d-flex justify-content-evenly m-3">
    <%= link_to "Re-read this story", chat_path(@story), class: "btn btn-success rounded-pill me-2" %>
    <%= link_to "Continue this story...", continue_story_path(@story), class: "btn btn-success rounded-pill me-2" %>
  </div>
  <div class="mt-2">
    <%= render "layouts/final_bottom_navbar" %>
  </div>
</div>
